<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 text-center my-auto">
                © - 2020 - Nicolas Rellier
            </div>
            <div class="col-12 col-sm-6 text-center mx-auto my-auto">
                <a href="https://www.linkedin.com/in/nicolas-rellier-000b1510a/"><i class="fab fa-linkedin mx-3 fa-2x"></i></a>
                <a href="https://github.com/nicolasrll/"><i class="fab fa-github fa-2x mx-3"></i></a>
                <a href="#"><i class="fab fa-twitter-square fa-2x mx-3"></i></a>
            </div>
        </div>
    </div>
</footer>
