{% extends "layout.html.twig" %}
{% block header %}
    <header>
        <h1 class="text-center py-4">Espace d'administration</h1>
    </header>
{% endblock %}
{% block content %}
    <main>
        <section class="container">
                <header class="text-center">
                    <h2>Connexion</h2>
                    <p>{{ message }}</p>
                </header>
                <form id="" class="row justify-content-center" action="/authentification/login" method="post">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input class="form-control" type="text" id="login" name="authentification[login]" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input class="form-control" type="password" id="password" name="authentification[password]" required>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Connexion"><br>
                </form>
        </section>
    <main>
{% endblock %}
{% block footer %}
    <footer class="py-2 fixed-bottom">
        <div class="text-center admin-footer">
            © - {{ "now"|date("Y") }} - Nicolas Rellier
        </div>
    </footer>
{% endblock %}
