<footer class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 text-center mx-auto my-auto">
                <a class="mr-3" href="/authentification/logout">Déconnexion</a>
                <a href="/">Revenir au site</a>
            </div>
            <div class="col-12 col-sm-6 text-center my-auto">© - {{ "now"|date("Y") }} - Nicolas Rellier</div>
        </div>
    </div>
</footer>
