<footer>
    <ul>
        <li><a href="/authentification/logout">Déconnexion</a></li>
        <li><a href="/">Revenir au site</a></li>
    </ul>
    © - {{ "now"|date("m/d/Y") }} - Nicolas Rellier - Site de demo
</footer>
