{% extends "back/template.html.twig" %}
{% block title %} Accueil - {{ commonTitle }}{% endblock %}
{% block content %}
    <main>
        <section class="text-center">
            <header>
                <h1>Espace administration</h1>
                <p class="text-muted">Tu es connecté en tant que {{ session.login }}</p>
            </header>
            <article>
                <h2 class="mt-5">Projets</h2>
                <p class="text-muted">Liste des 5 derniers projets:</p>
            </article>
            <article>
                <h2 class="mt-5">Utilisateurs</h2>
                <p class="text-muted">Liste des 5 derniers utilisateurs inscrits:</p>
            </article>
            <article>
                <h2 class="mt-5">Nouveaux commentaires</h2>
                <p class="text-muted">Liste des 5 derniers nouveaux commentaires en attentes de validation: </p>
            </article>
            <article>
            <h2 class=" mt-5">Commentaires</h2>
            <p class="text-muted">Liste des 5 derniers commentaires validés:</p>
            </article>
        </section>
    </main>
{% endblock %}
