{% extends "back/template.html.twig" %}
{% block title%} Accueil de l'espace d'administration - Blog de Nicolas Rellier{% endblock %}
{% block content %}
    <h1>Accueil </h1>
    <p>Bienvenue sur l'espace d'administration. Tu es connecté en tant que {{ session.login }}</p>
    <h2>Liste des derniers projets</h2>
    <h2>Liste des derniers utilisateurs inscrits</h2>
    <h2>Liste des commentaires en attentes de validation</h2>
    <h2>Liste des derniers commentaires postés</h2>
{% endblock content%}
