<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site web personnel de Nicolas Rellier, développeur PHP Symfony. Présentation de mes compétences et de mes projets réalisés">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'back/_header.html' %}
        <main>
            {% block content %}{% endblock %}
            {% include 'back/_footer.html' %}
        </main>
    </body>
</html>
