{% extends "back/template.html.twig" %}
{% block title%}Liste des utilisateurs - Site personnel de Nicolas Rellier{% endblock %}
{% block content %}
    <h1>Liste des utilisateurs</h1>
    {% for user in users %}
        <p>
            Id: {{ user.id }}<br>
            Login: {{ user.login }}<br>
            Compte: {{ user.role }}<br>
            Status: {{ user.status }}<br>
        </p>
    {% endfor %}
{% endblock content %}
